 
parameters:
  - name: timezone
    displayName: Select Timezone
    default: Asia/Kolkata
    values:
      - Europe/London
      - Asia/Kolkata
      - America/Chicago
      - Africa/Johannesburg
      - Australia/Sydney
jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - task: CmdLine@2
      inputs:
        script: |
          echo Write your commands here
          echo Hello world,Im from $timezone
          echo "The time is :"http://worldtimeapi.org/api/timezone/$timezone