jobs:
- job: Job_1
  displayName: Pipeline yml format
  pool:
    name: TalendDevopsPool
parameters:
- name: timezone
  displayName: Select Timezone
  default: Asia/Kolkata
  values:
  - Europe/London
  - Asia/Kolkata
  - America/Chicago
  - Africa/Johannesburg
  - Australia/Sydney
  steps:
  - checkout: none    
  - task: SSH@0
    inputs:
      sshEndpoint: 'devlnxttca-sampath'
      runOptions: 'inline'
      inline: 'echo ''im from $timezone'''
      readyTimeout: '20000'